<form action="/tasks/add" method="post" class="flex m-6 bg-green-200 p-6">
  <div class="">
    <label for="title">Write a Title</label>
    <input type="text" name="title" placeholder="Title" id="title" />
  </div>
  <div class="">
    <label for="description">Description</label>
    <textarea
      name="description"
      placeholder="description"
      id="description"
    ></textarea>
  </div>
  <button>Add</button>
</form>