<nav>
  <ul class="flex bg-blue-200 w-screen h-12 items-center justify-center">
    <li class="m-2 p-2">
      <a href="/">index</a>
    </li>
    <li class="m-2 p-2">
      <a href="/edit">Edit</a>
    </li>
  </ul>
</nav>