.twitter {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .8rem;
  justify-content: space-between;

}

.twitter-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.twitter-info {
  display: flex;
  flex-direction: column;
}

.twitter-info-username {
  opacity: .6;
}

.twitter-avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.twitter-info-button {
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
}